# Homebrew
alias bwi='brew install'
alias bws='brew search'
alias bwh='brew home'
alias bwc='brew cask install'
alias bwr='brew uninstall'
alias bwu='brew update \
                && brew upgrade \
                && brew cleanup'

# Get local IP
alias local-ip='ipconfig getifaddr en0'

# Save Alfred Preferences
alias save-alfred-prefs='cp -r ~/Library/Application\ Support/Alfred/Alfred.alfredpreferences ~/Desktop \
						&& cp -r ~/Desktop/Alfred.alfredpreferences/ .alfred \
						&& rm -rf ~/Desktop/Alfred.alfredpreferences \
						&& echo 'Done ✨''

# NeoVim
alias nv='nvim'
alias nvc='nvimconf'

# npm & yarn
alias nr='npm run'
alias ni='npm install'
alias nrm='npm uninstall'
alias ns='npm run start'
alias nd='npm run dev'
alias nb='npm run build'
alias nt='npm run test'
alias y='yarn'
alias yi='yarn install'
alias yrm='yarn remove'
alias ys='yarn start'
alias yd='yarn dev'
alias yb='yarn build'
alias yt='yarn test'
alias ytt='yarn test:'
alias ybs='yarn build && yarn start'


# Git
alias g='git'
alias ga='git add'
alias gaa='git add .'
alias gb='git branch'
alias gbD='git branch -D'
alias gcom='git checkout master'
alias gco='git checkout'
alias gcom='git commit'
alias gcomm='git commit -m'
alias gd='git diff'
alias gst='git status'
alias gp='git push'
alias grp='git fetch && git rebase origin/master && git push'
alias grmp='git fetch && git rebase origin/main && git push'
alias gp-='git push --no-verify'
alias gpu='git push -u origin'
alias gl='git pull'
alias gpom='git pull origin master'
alias gma='git merge --abort'
alias gf='git fetch'
alias gr='git rebase'
alias grm='git rebase origin/master'
alias grmm='git rebase origin/main'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias gs='git stash'
alias gsp='git stash pop'
alias nvr='--no-verify'

# Docker
alias d='docker'
alias dpru='docker container prune'
alias dcu='docker-compose up'
alias dcub='docker-compose up --build'

# Personal
alias df='dotfiles'
alias dev='cd ~/dev'
alias tss='cd ~/dev/tsseract'
alias tapi='cd ~/dev/tsseract-api'
alias nvimconf='cd ~/.config/nvim'
alias nxs='cd ~/dev/nxs'
alias po='cd ~/dev/inapps-purchasing-fe'
alias ia='cd ~/dev/ia-eux'
alias dl='cd ~/Downloads'
alias dotfiles='/usr/bin/git --git-dir=/Users/jem/.dotfiles/ --work-tree=/Users/jem'

# Shorts
alias hm='cd ~'
alias cls='clear'
alias xx='exit'

# Python
alias py='python3'
alias pm='python manage.py'
