# Homebrew
alias bwi="brew install"
alias bws="brew search"
alias bwh="brew home"
alias bwc="brew cask install"
alias bwr="brew uninstall"
alias bwu="brew update \
                && brew upgrade \
                && brew cleanup"

# Get local IP
alias local-ip="ipconfig getifaddr en0"

# Save Alfred Preferences
alias save-alfred-prefs="cp -r ~/Library/Application\ Support/Alfred/Alfred.alfredpreferences ~/Desktop \
                        && cp -r ~/Desktop/Alfred.alfredpreferences/ .alfred \
						&& rm -rf ~/Desktop/Alfred.alfredpreferences \
						&& echo 'Done ✨'"

# npm & yarn
alias nr='npm run'
alias ni='npm install'
alias nrm='npm uninstall'
alias ns='npm run start'
alias nd='npm run dev'
alias nb='npm run build'
alias nt='npm run test'
alias y='yarn'
alias yi='yarn install'
alias yrm='yarn remove'
alias ys='yarn start'
alias yd='yarn dev'
alias yb='yarn build'
alias yt='yarn test'
alias ytt='yarn test:'


# Git
alias g='git'
alias ga='git add'
alias gaa='git add .'
alias pb='git branch'
alias gbD='git branch -D'
alias gcm='git checkout master'
alias gco='git checkout'
alias gcom='git commit'
alias gcomm='git commit -m'
alias gd='git diff'
alias gst='git status'
alias gp='git push'
alias gpu='git push -u'
alias gl='git pull'
alias gpom='git pull origin master'
alias nvr='--no-verify'

# Personal
alias df='dotfiles'
alias dev='cd ~/dev'
alias tss='cd ~/dev/tsseract'
alias nxs='cd ~/dev/nexstar-frontend'
alias nxsb='cd ~/dev/nexstar-backend-middleware'
alias nvimconf='cd ~/.config/nvim'
alias dl="cd ~/Downloads"
alias dotfiles='/usr/bin/git --git-dir=/Users/jem/.dotfiles/ --work-tree=/Users/jem'

# Shorts
alias hm='cd ~'
alias cls='clear'
alias xx='exit'

# Python
alias py="python3"
