<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0A6E22CF-991B-4887-B907-7E158EDB57B9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>korean class</string>
			<key>text</key>
			<string>Korean Class</string>
			<key>url</key>
			<string>https://us02web.zoom.us/j/81455731212?pwd=T2ErTWhjZkg1OWFqUDJNM1NoZTVaUT09</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0A8F2EB3-8ADA-42B0-B8DE-EC6BFEBCDEFF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>web3</string>
			<key>text</key>
			<string>LearnWeb3</string>
			<key>url</key>
			<string>https://www.learnweb3.io/tracks/freshman</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1F11DAB8-49CE-49BB-8FAD-AC6651863D9A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amazon</string>
			<key>text</key>
			<string>Amazon</string>
			<key>url</key>
			<string>https://smile.amazon.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2B247584-BDCE-4A5D-A0A4-A895D5C6F680</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>binance</string>
			<key>text</key>
			<string>Binance</string>
			<key>url</key>
			<string>https://www.binance.com/en/my/wallet/account/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2F4A8F09-5360-4BD9-ACB2-4D2C8358F360</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Jira Board</string>
			<key>url</key>
			<string>https://rivianautomotivellc.atlassian.net/jira/software/c/projects/SUP/boards/2729</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2F8FB95C-ED3A-4754-AD71-B75D41290F6F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>turing</string>
			<key>text</key>
			<string>Turing Workspace</string>
			<key>url</key>
			<string>https://workspace.turing.com/developerDashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2F951DF7-3146-4A5A-A375-E91CEDA2770C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tssrepo</string>
			<key>text</key>
			<string>Tsseract Repo</string>
			<key>url</key>
			<string>https://github.com/jeremy2918/tsseract</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>31AB0C0F-AA8F-4AC7-96B8-507DF7C3BCB1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>twitch</string>
			<key>text</key>
			<string>Twitch</string>
			<key>url</key>
			<string>https://www.twitch.tv</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>33263B8E-9B65-4ADB-9B0B-8034158C5E49</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>git</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3F47B5D7-EBD1-4647-B321-D79C00B995D4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>udemy</string>
			<key>text</key>
			<string>Udemy</string>
			<key>url</key>
			<string>https://turing.udemy.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3FC07159-A4F2-4D86-B86E-BA5B3CD2AD22</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>interactivebrokers</string>
			<key>text</key>
			<string>Interactive Brokers</string>
			<key>url</key>
			<string>https://www.interactivebrokers.co.uk/sso/Login</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3FEF787D-491E-43F9-93D5-07F1A9803104</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>5000</string>
			<key>text</key>
			<string>Localhost 5000</string>
			<key>url</key>
			<string>http://localhost:5000</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>442E2D48-DBE7-4A01-862C-32ECA66C7E9C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tt</string>
			<key>text</key>
			<string>Twitter</string>
			<key>url</key>
			<string>https://twitter.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>450FAA8F-02B9-4FE0-8D96-DA06FA31833F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>revue</string>
			<key>text</key>
			<string>Revue</string>
			<key>url</key>
			<string>https://www.getrevue.co/app/issues</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>476BA129-57B1-48BA-B53D-CF5EAE59CA8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>3000</string>
			<key>text</key>
			<string>Localhost 3000</string>
			<key>url</key>
			<string>http://localhost:3000</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4BDEB91C-B8EE-400A-83A7-2110A6AA786D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>purchasing amplify</string>
			<key>text</key>
			<string>Purchasing Amplify</string>
			<key>url</key>
			<string>https://us-east-2.console.aws.amazon.com/amplify/home?region=us-east-2#/d3c3m0nljj7bfi</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4E434B52-0E02-4135-B7F4-5715247652D7</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>notion</string>
			<key>text</key>
			<string>Notion</string>
			<key>url</key>
			<string>https://www.notion.so/bb2195aee3cb4c3183f576ec325adffe?v=30577b81cb374f9a88160e48ccb63643</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4E91C8AD-0FDC-4292-ADCC-B5B1DBC8A075</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>8080</string>
			<key>text</key>
			<string>Localhost 8080</string>
			<key>url</key>
			<string>http://localhost:8080/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>53817F60-8225-4962-B4D0-EA042568652F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ftx</string>
			<key>text</key>
			<string>FTX</string>
			<key>url</key>
			<string>https://ftx.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5A59D90E-98D2-407A-80D9-2AFCAAF1AE76</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>calendly</string>
			<key>text</key>
			<string>Calendly</string>
			<key>url</key>
			<string>https://calendly.com/event_types/user/me</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5C6E4D1A-73FA-4003-AE03-B14D5E083C6E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>algoexpert</string>
			<key>text</key>
			<string>AlgoExpert</string>
			<key>url</key>
			<string>https://www.algoexpert.io/content#ae</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>63D57638-B11E-4E22-AD84-23BEEF1908CC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>preview</string>
			<key>text</key>
			<string>PR Preview</string>
			<key>url</key>
			<string>https://pr-{query}.d3c3m0nljj7bfi.amplifyapp.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>653B4F46-CE60-47AB-B215-BD8A3A0B877D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>deel</string>
			<key>text</key>
			<string>Deel</string>
			<key>url</key>
			<string>https://app.letsdeel.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6E66053D-F789-47C2-88F9-AED34F2DE0FA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weekly hours log</string>
			<key>text</key>
			<string>Weekly Hours Log</string>
			<key>url</key>
			<string>https://drive.google.com/drive/u/2/folders/1dchfzA1E_MMNS4tMmlJLVZXLe-DMEdkH</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6FEF6689-8273-49D6-8D6C-4B750A261149</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docs</string>
			<key>text</key>
			<string>Docs</string>
			<key>url</key>
			<string>https://docs.google.com/document/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>77DFDC02-CF98-4DF2-97A3-0843F91AE660</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>discord</string>
			<key>text</key>
			<string>Discord</string>
			<key>url</key>
			<string>https://discord.com/channels/@me</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>79D2AD52-2F23-4EE1-9D26-FB9A631C7BA5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>LinkedIn</string>
			<key>url</key>
			<string>https://www.linkedin.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>79D66631-2B8A-42E5-B9CE-1DD6CD518773</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>upwork</string>
			<key>text</key>
			<string>Upwork</string>
			<key>url</key>
			<string>https://www.upwork.com/ab/find-work/recommended</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7FAC9C46-C6BF-4ABF-9EC6-63FAEE50BB16</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>betterworldbooks</string>
			<key>text</key>
			<string>BetterWorldBooks</string>
			<key>url</key>
			<string>https://www.betterworldbooks.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>86EE7903-3015-4060-9786-DAE9F14D45F6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wise</string>
			<key>text</key>
			<string>Wise</string>
			<key>url</key>
			<string>https://wise.com/user/account/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9EF1CE5D-F3C0-403B-AAA0-02569A4F79D9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wallet</string>
			<key>text</key>
			<string>Wallet</string>
			<key>url</key>
			<string>https://web.budgetbakers.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A0BD6142-6A00-455B-8419-46F3D27B316E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ebay</string>
			<key>text</key>
			<string>eBay</string>
			<key>url</key>
			<string>https://www.ebay.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AD46A4F8-DA7F-4C64-9740-B8347640CE97</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>youtube</string>
			<key>text</key>
			<string>YouTube</string>
			<key>url</key>
			<string>https://www.youtube.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B84663B5-3832-4011-8F84-22711E0CACD0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>apps</string>
			<key>text</key>
			<string>My Applications</string>
			<key>url</key>
			<string>https://myapplications.microsoft.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B86C70EB-9BE1-4B5B-8B12-880A58F221E2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hours</string>
			<key>text</key>
			<string>Hours Log</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1oQG9x_fm5uNid-yygUQ2C5BLAMcOi6fl/edit#gid=1847988948&amp;range=AC2</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C763ABC8-FB50-4896-A0BB-DCF702AA3223</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hypefury</string>
			<key>text</key>
			<string>Hypefury</string>
			<key>url</key>
			<string>https://app.hypefury.com/create</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CA97DE14-FCC4-4963-8FAD-51F4CA6052AA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>slides</string>
			<key>text</key>
			<string>Slides</string>
			<key>url</key>
			<string>https://docs.google.com/presentation/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD0FD262-8DD0-4C65-A78F-B904BF2C34C8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sheets</string>
			<key>text</key>
			<string>Sheets</string>
			<key>url</key>
			<string>https://sheets.google.com/presentation/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D1B262F8-69F0-45CD-A115-60E21FE9D5CB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>json</string>
			<key>text</key>
			<string>JSON Formatter</string>
			<key>url</key>
			<string>https://jsonformatter.curiousconcept.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D1D1B22F-2EEC-4C07-A5B3-3C14643FF3D0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>4000</string>
			<key>text</key>
			<string>Localhost 4000</string>
			<key>url</key>
			<string>http://localhost:4000</string>
		</dict>
		<key>D579A496-7CE1-41E8-AAC3-317E9CB38DD1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gumroad</string>
			<key>text</key>
			<string>Gumroad</string>
			<key>url</key>
			<string>https://app.gumroad.com/library</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6B7F1B4-C6B4-44E7-A87E-6724C8D22F15</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vndly</string>
			<key>text</key>
			<string>Vndly</string>
			<key>url</key>
			<string>https://rivian.vndly.com/candidate/timesheets/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DA5E8F47-588E-4A12-9808-D29A2C59D78B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>trello</string>
			<key>text</key>
			<string>Trello</string>
			<key>url</key>
			<string>https://trello.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EC22C169-3B60-4819-A1E7-F7648001761E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eps</string>
			<key>text</key>
			<string>EPS</string>
			<key>url</key>
			<string>https://app.eps-int.com/TrackingPaquetes</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EC31606A-16A2-4E4F-BCD4-7CF7A6C44405</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>meet</string>
			<key>text</key>
			<string>Google Meet</string>
			<key>url</key>
			<string>https://meet.google.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EFD04202-3326-43E7-8354-33AE7B1CE0B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>banreservas</string>
			<key>text</key>
			<string>Banreservas</string>
			<key>url</key>
			<string>https://www.banreservas.com.do/TuBancoPersonas/Login.aspx</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F0106B04-EF2D-46B1-B30A-942D0A4C335A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tsstrello</string>
			<key>text</key>
			<string>Tsseract Board</string>
			<key>url</key>
			<string>https://trello.com/b/vcaixqe5/tsseract</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F2F3716B-0DB4-4A90-ACBB-A10022A3C1F3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gitlab</string>
			<key>text</key>
			<string>GitLab</string>
			<key>url</key>
			<string>https://gitlab.com/rivian/it/internal-apps/ia-eux</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F4F824AC-EC68-44EC-A9F0-A08C62F43697</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bit</string>
			<key>text</key>
			<string>Bitbucket</string>
			<key>url</key>
			<string>https://bitbucket.org/rivian/inapps-purchasing-fe/src/development/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F6BE04D9-BD0D-4076-9EA5-8F600CB63077</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aws</string>
			<key>text</key>
			<string>AWS</string>
			<key>url</key>
			<string>https://us-east-2.console.aws.amazon.com/console/home?region=us-east-2#</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F93E1160-F351-49A9-B0ED-5547444B73D5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>asw</string>
			<key>text</key>
			<string>ASW</string>
			<key>url</key>
			<string>https://asw.do/private/client/client_inventory.html#!</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FE7DA844-829C-4C74-8267-B7C582604024</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>appsync</string>
			<key>text</key>
			<string>AppSync</string>
			<key>url</key>
			<string>https://console.aws.amazon.com/appsync/home?region=us-east-1#/frv76ws7rnfclei34dprxk2ady/v1/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FEBF284D-55A5-4802-9F27-D0817AF80BA2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>heroku</string>
			<key>text</key>
			<string>Heroku</string>
			<key>url</key>
			<string>https://dashboard.heroku.com/apps</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
